.navbar-global {
  background-color: indigo;
  .navbar-brand {
    color: white;
  }
  .navbar-user > li > div
  {
    color: white;
  }
}

.navbar-primary {
  background-color: #1B2432;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 200px;
  z-index: 8;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  height: 100%;
}

.navbar-primary.collapsed {
  width: 50px;
  .far {
    font-size: 20px;
  }
  .nav-label {
    display: none;
  }
}

.btn-expand-collapse {
    display: block;
    padding: 8px;
    border-bottom:solid 1px #666;
    color: white;
    font-size: 20px;
    text-align: right;
    &:hover, &:focus{
      background-color: #222;
      color: white;
    }
    &:active{
      background-color: #111;
    }
}

.navbar-primary-menu,
.navbar-primary-menu li {
  margin:0; padding:0px 5px;
  list-style: none;
  div {
    display: block;
    padding: 10px 0px;
    text-align: left;
    border-bottom:solid 1px #aaa;
    color: white;
    &:hover{
      background-color: #000;
      text-decoration: none;
      color: white;
      .far {
        color: orchid;
      }
    }
    .far {
      margin-right: 6px;
    }
  }
}

.navbar-secondary {
  background-color: #3f4a5b;
  left: 200px;
  position: absolute;
  top: 0px;
  width: 150px;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  height: 100%;
}

.collapsed + .navbar-secondary{
  left: 50px;
}

.navbar-secondary.collapsed {
  width: 50px;
  .far {
    font-size: 20px;
  }
  .nav-label {
    display: none;
  }
}

.main-content {
  margin-top: 60px;
  margin-left: 350px;
  padding: 20px;
}

#nav-primary.collapsed + #nav-secondary + .main-content {
  margin-left: 200px;
}
#nav-primary + #nav-secondary.collapsed + .main-content {
  margin-left: 250px;
}
#nav-primary.collapsed + #nav-secondary.collapsed + .main-content {
  margin-left: 100px;
}
hr {
  border-top: 2px dotted black;
}