<nav class="navbar-primary" id="nav-primary">
  <div class="btn-expand-collapse" id="primary" (click)="clickCollaps1()">
    <span [className]="iconName1 ? 'fas fa-chevron-right' : 'fas fa-chevron-left'"></span>
  </div>
  <ul class="navbar-primary-menu">
    <li>
      <div><span class="far fa-dot-circle"></span><span class="nav-label"> Menu item</span></div>
    </li>
    <li>
      <div><span class="far fa-dot-circle"></span><span class="nav-label"> Menu item</span></div>
    </li>
    <li>
      <div><span class="far fa-dot-circle"></span><span class="nav-label"> Menu item</span></div>
    </li>
    <li>
      <div><span class="far fa-dot-circle"></span><span class="nav-label"> Menu item</span></div>
    </li>
  </ul>
</nav>
<nav class="navbar-secondary" id = "nav-secondary">
    <div class="btn-expand-collapse" id="primary" (click)="clickCollaps2()">
      <span [className]="iconName2 ? 'fas fa-chevron-right' : 'fas fa-chevron-left'"></span>
    </div>
  <ul class="navbar-primary-menu">
    <li>
      <div><span class="far fa-dot-circle"></span><span class="nav-label"> Submenu</span></div>
    </li>
    <li>
      <div><span class="far fa-dot-circle"></span><span class="nav-label"> Submenu</span></div>
    </li>
    <li>
      <div><span class="far fa-dot-circle"></span><span class="nav-label"> Submenu</span></div>
    </li>
    <li>
      <div><span class="far fa-dot-circle"></span><span class="nav-label"> Submenu</span></div>
    </li>
    <li>
      <div><span class="far fa-dot-circle"></span><span class="nav-label"> Submenu</span></div>
    </li>
  </ul>
</nav>
<div class="main-content">
  <div class="row">
      <div class="col-1 col-xl-1 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-10 col-xl-10 col-sm-10 col-md-10 col-lg-10">
          <h1> Heading </h1>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem sint assumenda quae aliquid voluptatibus quia, ea, ad natus magni repellat earum, culpa iure tempore. Enim dolor eaque minima voluptas ducimus?</p>          
      </div>
      <div class="col-1 col-xl-1 col-sm-1 col-md-1 col-lg-1"></div>
  </div>
</div>
<h2><router-outlet></router-outlet></h2>
